<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Quiz Question</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "mathlab/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>CSUCI Math 94/95 Lab
            <small>Week {{ assignment.assignment_week }} Section {{ assignment.assignment_section }}</small>
        </h1>
    </div>

    <div id="infoText"></div>

    <form action="{% url 'mathlab.views.QuizQuestion' %}" method="POST" id="questionForm">
        {% csrf_token %}
        <p id="questionText">{{ question_text }}</p>
        <div id="answerRadios">
            {% for answer in answers %}
                <div class="radio">
                    <label>
                        <input type="radio" name="radioAnswer" value="{{ answer.id }}">
                        {{ answer.answer_text }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="row-fluid">
            <input type="submit" id="submitButton"  class="btn btn-primary" value="Submit"/>
            <button type="button" id="nextQuestion" class="btn btn-secondary">Next Question</button>
        </div>
    </form>

    <div class="row">
        <a href="/mathlab/Student/StudentQuizOverview/">Back to assignments page</a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "mathlab/js/bootstrap.min.js" %}"></script>
    <script>
        $(function () {
            $('#submitButton').prop('disabled',true);
            $('#nextQuestion').prop('disabled',true);
            $('.radio').click(function() {
                $('#submitButton').prop('disabled',false);
            });
            $('#questionForm').submit(function (event) {
                event.preventDefault(); // avoid to execute the actual submit of the form.
                var formData = $('#questionForm').serialize();
                $.ajax({
                    type: "POST",
                    url: "{% url 'mathlab.views.QuizQuestion'%}",
                    data: formData,
                    success: function (json) {
                        $('#infoText').empty();
                        $('#submitButton').prop('disabled',true);
                        $('#nextQuestion').prop('disabled',false);
                        $('#nextQuestion').prop('class','btn btn-primary')
                        if (json['success']) {
                             $('#infoText').append(
                                '<div class="callout success">'
                                + '<div class="alert alert-success" role="alert">'
                                + 'That is the correct answer.'
                                + '</div>'
                                + '</div>'
                            );

                        } else {
                            $('#infoText').append(
                                '<div class="callout alert">'
                                + '<div class="alert alert-danger" role="alert">'
                                + 'That answer is incorrect.'
                                + '</div>'
                                + '</div>'
                            );
                        }
                    },
                    error: function () {
                        $('#infoText').empty();
                        $('#infoText').append(
                                '<div class="callout alert">'
                                + '<div class="alert alert-danger" role="alert">'
                                + '<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>'
                                + '<span class="sr-only">Error:</span>'
                                + 'Unable submit error'
                                + '</div>'
                                + '</div>'
                        );
                    }
                });
            });
            $('#nextQuestion').click(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'mathlab.views.QuizQuestion' %}?assign_id={{ assignment.id }}&update=true",
                    success: function(json) {
                        if (json['answered'] >= 3) {
                            window.location = "{% url 'mathlab.views.StudentQuizOverview' %}";
                        }
                        $('#questionText').text(json['question_text']);
                        $('#answerRadios').empty();
                        $('#submitButton').prop('disabled',true);
                        $('#nextQuestion').prop('disabled',true);
                        $('#nextQuestion').prop('class','btn btn-secondary')
                        $('#infoText').empty();
                        for (var i = 0; i < json['answers'].length; i++) {
                            $('#answerRadios').append('<div class="radio"><label>'
                                    + '<input type="radio" name="radioAnswer" value="'
                                    + json["answers"][i][0] + '">'
                                    + json["answers"][i][1] + '</label> </div>'
                            );
                        }
                        $('.radio').click(function() {
                            $('#submitButton').prop('disabled',false);
                        });
                    },
                    error: function(json) {
                        $('#infoText').empty();
                        $('#infoText').append(
                                '<div class="callout alert">'
                                + '<div class="alert alert-danger" role="alert">'
                                + '<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>'
                                + '<span class="sr-only">Error:</span>'
                                + 'Unable to retrieve next question'
                                + '</div>'
                                + '</div>'
                        );
                    }
                });
            });
        });
    </script>
</div>
</body>
