<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Student Quiz Overview</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "mathlab/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="page-header">
			<h1>CSUCI Math 94/95 Lab <small>Assignments</small></h1>
            <!--<div class="type-info" align="right">Hello, Kelsey</div>-->
		</div>
		
	<!--Navigation Bar-->
		{% include "mathlab/Student/StudentNavBar.html" %}
		{% for week_num, assign_data in assignment_data.items %}
            {% if assign_data %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Week {{ week_num }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            {% for assign in assign_data %}
                            {% with id=assign.0 section=assign.1 complete=assign.2 %}
                                <div class="col-md-4">
                                    {% if complete %}
                                        <button type="button" class="btn btn-success">Part {{ section }}: Complete</button>
                                    {% else %}
                                        <a type="button" class="btn btn-danger" href="{% url 'mathlab.views.QuizQuestion' %}?assign_id={{ id }}">Part {{ section }}: Incomplete</a>
                                    {% endif %}
                                </div>
                            {% endwith %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
		
	<!--Footer-->
		{% include "mathlab/Footer.html" %}
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "mathlab/js/bootstrap.min.js"%}"></script>
	  </body>
	</div>
</html>