<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Student Attendance Overview</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "mathlab/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="page-header">
			<h1>CSUCI Math 94/95 Lab <small>Attendance History</small></h1>
		</div>
		
	<!--Navigation Bar-->
		{% include "mathlab/Student/StudentNavBar.html" %}

        <div class="row">
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Attendance History</div>

              <!-- Table -->
              <table class="table">
                <tr>
                    <th>Week</th>
                    <th>Credit</th>
                </tr>

                 {% for week_num, attended in student_attendance.items %}
                     <tr>
                        <td>{{ week_num }}</td>
                        <td>
                            {% if attended == 1 %}
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% elif attended == 0 %}
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                     </tr>
                 {% endfor %}
              </table>
            </div>
        </div>

	<!--Footer-->
		{% include "mathlab/Footer.html" %}
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "mathlab/js/bootstrap.min.js"%}"></script>
	  </body>
	</div>
</html>