<nav class="navbar navbar-default">
  <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  <ul class="nav navbar-nav">
		<li {% if current_location = '/ProfessorHome/' %}class="active"{% endif %}><a href="/mathlab/Professor/ProfessorHome/">Home{% if current_location = '/ProfessorHome/' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
		<li {% if current_location = '/Roster/' %}class="active"{% endif %}><a href="/mathlab/Professor/Roster/">Roster{% if current_location = '/Roster/' %}<span class="sr-only">(current)</span>{% endif %}</a></li>
		</ul>
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="/mathlab/logout">Log Out</a></li>
	  </ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>