<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Roster</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "mathlab/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="page-header">
			<h1>CSUCI Math 94/95 Lab <small>Roster</small></h1>
		</div>
		
	<!--Navigation Bar-->
		{% include "mathlab/Professor/ProfessorNavBar.html" %}

        {% for course_code, section_num, student_data, total_assignments in roster_list %}
            <div class="row">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">{{ course_code }} Section {{ section_num }}</div>

                  <!-- Table -->
                  <table class="table">
                    <tr>
                        <th>Student</th>
                        <th>Total Attendance</th>
                        <th>Total Completion</th>
                    </tr>

                     {% for first_name, last_name, attendance, grade in student_data %}
                         <tr>
                            <td>{{ first_name }} {{ last_name }}</td>
                            <td>{{ attendance }}</td>
                            <td>{{ grade }}/{{ total_assignments }}</td>
                         </tr>
                     {% endfor %}
                  </table>
                </div>
            </div>
		{% endfor %}
	<!--Footer-->
		{% include "mathlab/Footer.html" %}
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "mathlab/js/bootstrap.min.js"%}"></script>
	  </body>
	</div>
</html>