<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Create New Mathlab User</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "mathlab/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="page-header">
			<h1>CSUCI Math 94/95 Lab <small>Create New Mathlab User</small></h1>
		</div>
		
		<div class="row">
			<div class="row">
				<div class="col-xs-4">
					<input type="text" class="form-control" placeholder="First Name">
				</div>
			</div>
            <br>
			<div class="row">
				<div class="col-md-4">
					<input type="text" class="form-control" placeholder="Last Name">
				</div>
			</div>
            <br>
            <div class="row">
				<div class="col-md-4">
					<input type="text" class="form-control" placeholder="MyCI Login">
				</div>
			</div>
            <br>
            <div class="row">
				<div class="col-md-4">
					<input id = "pass1" type="text" class="form-control" placeholder="Password">
				</div>
			</div>
            <br>
            <div class="row">
				<div class="col-md-4">
					<input id = "pass2" type="text" class="form-control" placeholder="Re-Type Password">
				</div>
			</div>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <p>Course</p>
                    <select class="form-control" placeholder="Select One">
                        <option>Math 94</option>
                        <option>Math 94</option>
                        <option>Math 95</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-6">
                    <p>Section Number</p>
                    <select class="form-control" placeholder="Select One">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </div>
            </br>
			<div class="row">
				<div class="col-xs-4">
					<div class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
							Passwords do not match!
					</div>
				</div>
			</div>
		</div>
        
        <!--Footer-->
        {% include "mathlab/Footer.html" %}
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "mathlab/js/bootstrap.min.js"%}"></script>
	</div>
  </body>
</html>