<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Math 94/94 Lab Home</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "mathlab/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="page-header">
			<h1>CSUCI Math 94/95 Lab <small>Home Page</small></h1>
		</div>
		
		<div class="row">
			<div class="col-md-8">
				<div class="panel panel-primary">
					<div class="panel-body">
						<h2>Math Lab Syllabus: Math 94/95 - Fall 2015</h2>
						<p><b>Lab Assistants:</b> <a href="mailto:mark.hanlon872@myci.csuci.edu">Mark Hanlon</a>, 
							<a href="mailto:james.pratt335@myci.csuci.edu">James Pratt</a>, 
							<a href="mailto:geordan.waldman386@myci.csuci.edu">Geordan Waldman</a>, 
							<a href="mailto:abigail.zsarnay863@myci.csuci.edu">Abby Zsarnay</a>, 
							<a href="mailto:olivia.alexander311@myci.csuci.edu">Olivia Alexander</a>, 
							<a href="mailto:garrett.lopez036@myci.csuci.edu">Garrett Lopez</a></p>
						<p><b>Keys to Success:</b></p>
						<ol>
							<li>Show up to lab. You must come once a week. This is worth 10% of your grade
							(5% of which is simply attendance) and could make the difference in passing and
							failing your class. If you do not come to lab, you will receive no credit for
							that 10% of your grade.</li>
							<li>Work through problems to the best of your ability and do not let yourself
							get discouraged or give up.</li>
							<li>Don't ever be afraid to ask questions (AFTER you have thought about the
							problem on your own). My job is to help you to learn and be a successful math
							student.</li>
							<li>Realize that math can be fun! When you work past the hard part, it is actually
							enjoyable.</li>
						</ol>
						<p><b>Things You Should Bring to Math Lab:</b></p>
						<ul>
							<li>Textbook</li>
							<li>Pen/Pencil</li>
							<li>Scratch Paper</li>
							<li>Calculator</li>
						</ul>
						<p><b>How to Log In to Your Math Lab Account for the First Time:</b></p>
						<p><b>What You Will Do in Math Lab:</b></p>
						<p>Math Lab is designed to help students build on the mathematical foundation that
						they already established in the lecture component of the course. It helps to solidify
						mathematical knowledge through word problems. Once logged into the Math Lab website,
						you will be able to start the homework. You must complete one homework assignment each
						week. You must answer three problems correctly in each level to move on to the next.
						(There are three levels for each assignment.) If you complete all three levels of one
						homework assignment, you will move on to the next assignment, and so on and so fourth.
						If at any time you need help or run into a problem, don't hesitate to ask for help.
						That is why I'm here.</p>
						<p><b>Students With Disabilities:</b></p>
						<p>We are committed to making sure everyone has the opportunity to learn and do well
						in the lab. If you need an accommodation for a disability, please contact Disability
						Resource Programs (DRP) at the Educational Access Center (EAC) BEL1541, Telephone/TTY
						(805)437-3331, or <a href="mailto:accommodations@csuci.edu">accommodations@csuci.edu</a>
						. We will work closely together with you and your coordinator to provide you with
						necessary accommodations.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h2>Login</h2>
                            <form action="{% url 'mathlab.views.index' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xs-6">
                                        {{ login_form }}
                                    </div>
                                </div>
                                <br>
                                <div class="container">
                                    <div class="row">
                                        <button type="submit" class="btn btn-primary" name="signin">Sign In</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="large-12 columns">
                                    {% if success_message %}
                                        <div class="callout success">
                                            <h5>{{ success_message }}</h5>
                                        </div>
                                    {% endif %}
                                    {% if error_message %}
                                        <div class="callout alert">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <span class="sr-only">Error:</span>
                                                    {{ error_message }}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                &nbsp;&nbsp;&nbsp;
                                <a href="/mathlab/ForgottenPassword/">Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h2>New User?</h2>
                            <div class="container">
                                <div class="row">
                                    <a href="/mathlab/CreateUser/" class="btn btn-primary" role="button">Create Account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	<!--Footer-->
        {% include "mathlab/Footer.html" %}
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "mathlab/js/bootstrap.min.js"%}"></script>
	</div>
  </body>
</html>