<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Reset Password</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "mathlab/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="page-header">
			<h1>CSUCI Math 94/95 Lab <small>Reset Password</small></h1>
		</div>
		
		<div class="row">
			<p>Reset your password below:</p>
			<div class="row">
				<div class="col-xs-4">
					<input type="text" class="form-control" placeholder="New Password">
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<input type="text" class="form-control" placeholder="Retype New Password">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="alert alert-danger" role="alert">
						<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
						<span class="sr-only">Error:</span>
							Passwords do not match!
					</div>
				</div>
			</div>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "mathlab/js/bootstrap.min.js"%}"></script>
	</div>
  </body>
</html>