<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Student Search</title>

    <!-- Bootstrap -->
    {% load staticfiles %}
    <link href="{% static "mathlab/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">
		<div class="page-header">
			<h1>CSUCI Math 94/95 Lab <small>Attendance</small></h1>
		</div>
		
	<!--Navigation Bar-->
		{% include "mathlab/LabAssistant/LabAssistantNavBar.html" %}
        <div id="infoText"></div>

        <div class="row" id="nameInput">
            <input type="text" class="form-control" id="fnBox" placeholder="First Name"/>
            <input type="text" class="form-control" id="lnBox" placeholder="Last Name"/>
        </div>

        <table class="table" id="studentTable">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
		
	<!--Footer-->
		{% include "mathlab/Footer.html" %}
		
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "mathlab/js/bootstrap.min.js"%}"></script>
        <script>
            function updateAttendance() {
                $.ajax({
                    type: "POST",
                    success: function(json) {
                        $('#infoText').empty();
                        if (json['success']) {
                            $('#infoText').append(
                                '<div class="callout success">'
                                + '<div class="alert alert-success" role="alert">'
                                + 'Student data is updated.'
                                + '</div>'
                                + '</div>'
                            );
                        } else {
                            $('#infoText').append(
                                '<div class="callout alert">'
                                + '<div class="alert alert-danger" role="alert">'
                                + 'Unable to add attendance to student\'s account.'
                                + '</div>'
                                + '</div>'
                            );
                        }
                    },
                    error: function() {
                        $('#infoText').empty();
                        $('#infoText').append(
                                '<div class="callout alert">'
                                + '<div class="alert alert-danger" role="alert">'
                                + '<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>'
                                + '<span class="sr-only">Error:</span>'
                                + 'Unable to load student data.'
                                + '</div>'
                                + '</div>'
                        );
                    }
                });
            }
            $(function() {
                $('input:text').on('input', function() {
                    var first_name = $('#fnBox').val();
                    var last_name = $('#lnBox').val();
                    $.ajax({
                    type: "GET",
                    url: "{% url 'mathlab.views.StudentSearch' %}?fn=" + first_name + "&ln=" + last_name,
                    success: function(student_data) {
                        $('#infoText').empty();
                        $('#studentTable > tbody').children().remove();
                        console.log(student_data);
                        for (var i = 0; i < student_data['data'].length; i++) {
                            var row = '<tr>'
                                    + '<td>' + student_data['data'][i]['first_name'] + '</td>'
                                    + '<td>' + student_data['data'][i]['last_name'] + '</td>'
                                    + '<td>' + student_data['data'][i]['username'] + '</td>'
                                    + '<td>' + student_data['data'][i]['email'] + '</td>';
                            row += '<td><select class="form-control">';
                            for (var j = 1; j <= student_data['weeks']; j++) {
                                row += '<option>' + j + '</option>';
                            }
                            row += '</select></td>';
                            row += '<td><input type="submit" class="btn btn-primary submitButton" value="Submit"/></td>';
                            $('#studentTable > tbody').append(row);
                        }
                        $('.submitButton').click(updateAttendance);
                    },
                    error: function() {
                        $('#infoText').empty();
                        $('#infoText').append(
                                '<div class="callout alert">'
                                + '<div class="alert alert-danger" role="alert">'
                                + '<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>'
                                + '<span class="sr-only">Error:</span>'
                                + 'Unable to load student data.'
                                + '</div>'
                                + '</div>'
                        );
                    }
                });
                });
            });
        </script>
	  </body>
	</div>
</html>